{% extends "niveau1/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="">
{% endblock %}

{% block main %}

    {% block header %}
            {{ render(controller('App\\Controller\\UtilisateurController::headerAction')) }}
    {% endblock %}

    {% block vue %}
        <div class="vue">
            <h1>VUE</h1>
        </div>
    {% endblock %}

{% endblock %}
