<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>

        {% block stylesheets %}

        {% endblock %}

    </head>
    <body>
        {% block body %}
            {% block header %}
                <h1>HEADER</h1>
            {% endblock %}

            {% block actions %}
                <h1>ACTIONS</h1>
            {% endblock %}

            {% block main %}{% endblock %}

            {% block footer %}
                <h1>FOOTER</h1>
            {% endblock %}



        {% endblock %}
    </body>
</html>
